*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
#menu{
position: fixed;
width: 100%;
height: 70px;
padding: 0 100px;
padding-top: 20px;
justify-content: space-between;
align-items: center;
background: rgb(37, 37, 39);
z-index: 1000;
}
#menu .logo{
color: #fff;
font-size: 30px;
text-decoration: none;
letter-spacing: 2px;
font-weight: 700;
}
#menu ul{
padding-left: 60px;
position: relative;
display: inline-flex;
}
#menu ul li{
position: relative;
list-style: none;
}
#menu ul li a{
position: relative;
padding: 5px 10px;
color: #fff;
font-size: 20px;
display: inline-block;
text-decoration: none;
cursor: pointer;
}
#menu ul li a.active, #menu ul li a:hover{
background: rgb(24, 139, 233);
}
#menu .admin{
color: #fff;
font-size: 30px;
text-decoration: none;
letter-spacing: 2px;
font-weight: 700;
padding-left: 12cm;
}
.banner{
    width: 100%;
    height: 82.4vh;
    padding-top:150px;
    padding-left: 50px;
}
.footer
{
background: rgb(37, 37, 39);
padding: 20px 100px;
display: flex;
justify-content: space-between;
align-items: center;
}

.footer ul li{
list-style: none;
}
.footer p{
color: #fff;
text-align: center;
font-size: 25px;
}
.footer  ul li a{
text-decoration: none;
color: #fff;
text-align: center;
}
.footer  ul li a:hover{
color: rgb(24, 139, 233);
}
