*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#menu{
    position: fixed;
    width: 100%;
    height: 70px;
    padding: 0 100px;
    padding-top: 20px;
    justify-content: space-between;
    align-items: center;
    background: rgb(37, 37, 39);
    z-index: 1000;
}
#menu .logo{
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 700;
}
#menu ul{
    padding-left: 60px;
    position: relative;
    display: inline-flex;
}
#menu ul li{
    position: relative;
    list-style: none;
}
#menu ul li a{
    position: relative;
    padding: 5px 10px;
    color: #fff;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
#menu ul li a.active, #menu ul li a:hover{
    background: rgb(24, 139, 233);
}

.banner{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.banner .content h1{
    text-align: center;
    font-size: 90px;
}
.banner .content p{
    text-align: center;
    font-size: 35px;
}

#search{
    background: rgb(37, 37, 39);
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#search p{
    color: #fff;
    position: absolute;
    top: 40%;
    font-size: 35px;
    text-align: center;
}
#search #search-bar{
    position: absolute;
    background-color: #fff;
    border: solid 2px rgb(24, 139, 233);
    border-radius: 10px;
    width: 15%;
    height: 25px;
    left: 42.5%;
}
#search #serach-text{
    position: absolute;
    float: left;
    background-color: transparent;
    padding-left: 5px;
    font-size: 18px;
    border: none;
 }
 #search #serach-buttom{
    position: absolute;
    left: 80%;
    border: none;
    height: 22.2px;
    border-radius: 0 7px 7px 0;
    width: 20%;
    background: rgb(24, 139, 233);
}
#search #serach-buttom:hover{
    cursor: pointer;
}

#news{
    width: 100%;
    height: 100vh;
    padding-top: 10%;
    padding-right: 10%;
    justify-content: center;
    align-items: center;
}
#news .row{
    display: flex;
    justify-content: center;
    align-items: center;
}

#news .card-news{
    padding-left: 100px;
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 30px;
    margin: 20px;
    width: 400px;
    transition: all 0.3s ease-out;
}

#news .card-news:hover{
    transform: translateY(-5px);
    cursor: pointer;
}

#news .row p.title-news{
    float: left;
    font-size: 35px;
    padding-bottom: 155px;
}

#news .row h4.title-text-news{
    font-size: 22px;
    padding-bottom: 140px;
}
#news .row p.text-news{
    font-size: 25px;
        padding-bottom: 55px;
        float:right;

}
/*corrigir a parte de noticias (card abaixo do texto, e texto da noticia abaixo do titulo);
*/

.footer
{
    background: rgb(37, 37, 39);
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer ul li{
    list-style: none;
}
.footer p{
    color: #fff;
    text-align: center;
    font-size: 25px;
}
.footer  ul li a{
    text-decoration: none;
    color: #fff;
    text-align: center;
}
.footer  ul li a:hover{
    color: rgb(24, 139, 233);
}

